<!doctype html>
<title>HyperTrainer</title>

<script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/tablesort.js"></script>
<script type="text/javascript" src="static/semantic-ui/semantic.min.js"></script>
<script type="text/javascript" src="static/bokeh-2.0.1.min.js"></script>
<script type="text/javascript" src="static/script.js"></script>

<link rel="stylesheet" type="text/css" href="static/semantic-ui/semantic.min.css">

<style type="text/css">
  div#footer { min-height: 10em; margin-top: 2em; }
  #table-container { margin-bottom: 2em; max-height: 30em; overflow-x: hidden; overflow-y: auto }
  table#tasks td.Running { color: #276f86; background: #f8ffff; }
  table#tasks td.Finished { color: #2c662d; background: #fcfff5; }
  table#tasks td.Crashed,td.Lost,td.Removed { color: #9f3a38; background: #fff6f6; }
  table#tasks td.Cancelled { color: #573a08; background: #fffaf3; }
  table#tasks td.updating { color: #bbb }
  table#tasks tr.task-row:hover { background-color: #ececec }
  table#tasks tr.selected { background-color: #dadaff !important }
  input.toggle-job { margin-right: 0.5em; }
  div.loader.inline { margin-left: 1em !important; }
  #header { margin-top: 0; }
  #header h1 { display: inline-block; }
  #project-selector { width: 100%; }

</style>

<!-- Dialog: Submit new task -->
<div class="ui modal" id="submit-dialog">
  <div class="header">Submit new task</div>
  <div class="content">
    <form action="/?action=submit" method="post" class="ui form" id="form-new-task">
      <div class="one field">
        <div class="field">
          <label for="config">Config</label>
          <input name="config" id="config" value="../sample/plot_test.yaml">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label for="platform">Platform</label>
          <div class="ui selection dropdown" id="platform">
            <input type="hidden" name="platform">
            <i class="dropdown icon"></i>
            <span class="text"></span>
            <div class="menu">
                {% for p in platforms %}
                  <div class="item" data-value="{{ p }}">{{ p }}</div>
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="field">
          <label for="project">Project</label>
          <div class="ui search selection dropdown" id="project">
            <input type="hidden" name="project">
            <i class="dropdown icon"></i>
            <span class="text"></span>
            <div class="menu">
              <div class="item" data-value="">None</div>
                {% for p in projects %}
                  <div class="item" data-value="{{ p }}">{{ p }}</div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui approve button" tabindex="0">Submit</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

<!-- Application Header -->
<div class="ui inverted basic segment" id="header">
  <div class="ui container">
    <div class="ui middle aligned two column centered grid">
      <div class="row">
        <div class="column">
          <h1>HyperTrainer</h1>
        </div>

        <!-- Project selector -->
        <div class="column">
          <div class="ui search selection dropdown" id="project-selector" data-selected="{{ cur_proj }}">
            <i class="dropdown icon"></i>
            <span class="text"></span>
            <div class="menu">
              <div class="item" data-value="">All Projects</div>
              {% for p in projects %}
                <div class="item" data-value="{{ p }}">{{ p }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="ui message {{category}}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- Row of buttons -->
  <form action="/?action=bulk" method="post" id="bulk">
    <p>
      <a href="/" class="ui compact button basic">Refresh</a>
      {% if not show_archived %}
        <button type="button" class="ui compact button" id="new-task">New</button>
        <button type="submit" class="ui compact button disabled" name="action" value="Resume">Resume</button>
        <button type="submit" class="ui compact button disabled" name="action" value="Cancel">Cancel</button>
        <button type="submit" class="ui compact button disabled" name="action" value="Archive">Archive</button>
      {% else %}
        <button type="submit" class="ui compact button disabled" name="action" value="Unarchive">Unarchive</button>
        <button type="button" class="negative ui compact button disabled" id="delete-task">Delete</button>
        <button type="submit" name="action" value="Delete" style="display: none" id="submit-delete"></button>
      {% endif %}
      <span class="ui icon mini input" id="search-box">
        <input type="text" placeholder="Filter...">
        <i class="search icon"></i>
      </span>
      {% if not show_archived %}
        <a href="/?action=show_archived" style="margin-left: 20px;">Show archived tasks</a>
      {% else %}
        <a href="/?action=hide_archived" style="margin-left: 20px;">Hide archived tasks</a>
      {% endif %}
      <a href="https://github.com/lemairecarl/hypertrainer/wiki" target="_blank" style="margin-left: 20px;">Help</a>
    </p>

    <!-- Message reminded archived tasks only are shown -->
    <div class="ui info message {{ '' if show_archived else 'hidden' }}">
      <div class="header">
        Currently showing archived tasks.
      </div>
      Other tasks are hidden. <a href="/?action=hide_archived" style="margin-left: 10px;">Back to main list</a>
    </div>

    <!-- Dialog: Delete confirmation -->
    <div class="ui modal" id="delete-dialog">
      <div class="header">Heads up!</div>
      <div class="content">
        <p>Are you sure you want to delete one or more tasks? <strong>This cannot be undone!</strong></p>
      </div>
      <div class="actions">
        <div class="ui cancel button" tabindex="0">Cancel</div>
        <div class="negative ui approve button">Delete</div>
      </div>
    </div>

    <!-- Tasks list -->
    <div id="table-container">
      <table class="ui sortable celled compact table" id="tasks">
        <thead>
        <tr>
          <th class="number">
            <input type="checkbox" class="toggle-job" id="checkall">
            ID
          </th>
          <th>UUID</th>
          <th>Platform</th>
          <th>Host</th>
          <th>Name</th>
          <th>Status</th>
          <th>Epoch</th>
          <th>Iteration</th>
          <th>Total TR</th>
          <th>Epoch TR</th>
        </tr>
        </thead>
        <tbody>
        {% if tasks %}
          {% for task in tasks %}
            <tr data-id="{{ task.id }}" class="task-row">
              <td>
                <input type="checkbox" class="toggle-job" name="check-{{ task.id }}">
                {{ task.id }}
              </td>
              <td>{{ task.uuid }}</td>
              <td data-col="platform">{{ task.platform_type.value }}</td>
              <td>{{ task.hostname }}</td>
              <td>{{ task.name }}</td>
              <td data-col="status" class="{{ 'updating' if task.status.is_active else task.status.value }}">
                {{ task.status.value }}
              </td>
              <td data-col="epoch" class="{{ 'updating' if task.status.is_active else '' }}">
                {{ task.cur_epoch }} / {{ task.num_epochs }}
              </td>
              <td data-col="iteration" class="{{ 'updating' if task.status.is_active else '' }}"></td>
              <td data-col="total_time_remain" class="{{ 'updating' if task.status.is_active else '' }}"></td>
              <td data-col="ep_time_remain" class="{{ 'updating' if task.status.is_active else '' }}"></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>No tasks to show.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </form>
</div>

<div class="ui container" id="monitoring"></div>
