<!doctype html>
<title>HyperTrainer</title>

<script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/tablesort.js"></script>
<script type="text/javascript" src="static/semantic-ui/semantic.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script type="text/javascript" src="static/script.js"></script>

<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/semantic-ui/semantic.min.css">

<style type="text/css">
  div#footer { min-height: 10em; margin-top: 2em; }
  table#tasks { margin-bottom: 2em; }
  table#tasks td.Running { color: #276f86; background: #f8ffff; }
  table#tasks td.Finished { color: #2c662d; background: #fcfff5; }
  table#tasks td.Crashed,td.Lost { color: #9f3a38; background: #fff6f6; }
  table#tasks td.Cancelled { color: #573a08; background: #fffaf3; }
  table#tasks td.updating { color: #bbb }
  table#tasks tr.selectable:hover { background-color: #ececec }
  table#tasks tr.selected { background-color: #dadaff !important }
  input.toggle-job { margin-right: 0.5em; }
  div.loader.inline { margin-left: 1em !important; }
</style>

<div class="ui inverted basic segment">
  <div class="ui container">
    <h1>HyperTrainer</h1>
  </div>
</div>

<div class="ui container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="ui message {{category}}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  <div class="ui segment">
  <h2>Submit new task</h2>
  <form action="/?action=submit" method="post" class="ui form">
    <div class="fields">
      <div class="field">
        <label for="script">Script</label>
        <input name="script" id="script" value="dummy.py">
      </div>
      <div class="field">
        <label for="config">Config</label>
        <input name="config" id="config" value="hp_test.yaml">
      </div>
      <div class="field">
        <label for="platform">Platform</label>
        <select class="ui dropdown" name="platform" id="platform">
          <option value="">Platform</option>
          {% for p in platforms %}
            <option value="{{ p }}" {{ 'selected="selected"' if p == 'local' else '' }}>{{ p }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <button type="submit" class="ui submit button">Submit</button>
      </div>
    </div>
  </form>
  </div>

  <h2>Tasks</h2>

  <form action="/?action=bulk" method="post">
      <p>
        <a href="/" class="ui compact button basic">Refresh</a>
        <button type="submit" class="ui compact button" name="action" value="Continue">Continue</button>
        <button type="submit" class="ui compact button" name="action" value="Cancel">Cancel</button>
        <button type="submit" class="ui compact button" name="action" value="Delete">Delete</button>
        <span class="ui icon mini input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </span>
      </p>

      <table class="ui sortable celled compact table" id="tasks">
        <thead><tr>
          <th class="number">
            <input type="checkbox" class="toggle-job" id="checkall">
            ID
          </th>
          <th>Platform</th>
          <th>PID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Epoch</th>
          <th>Iteration</th>
          <th>Total TR</th>
          <th>Epoch TR</th>
        </tr></thead>
        {% if tasks %}
            {% for task in tasks %}
              <tr data-id="{{ task.id }}" class="selectable">
                <td>
                  <input type="checkbox" class="toggle-job" name="check-{{ task.id }}">
                  {{ task.id }}
                </td>
                <td data-col="platform">{{ task.platform_type.value }}</td>
                <td>{{ task.job_id }}</td>
                <td>{{ task.name }}</td>
                <td data-col="status" class="{{ 'updating' if task.status.is_active() else task.status.value }}">
                  {{ task.status.value }}
                </td>
                <td data-col="epoch" class="{{ 'updating' if task.status.is_active() else '' }}">
                  {{ task.cur_epoch + 1 }} / {{ task.config.training.num_epochs }}
                </td>
                <td data-col="iteration" class="{{ 'updating' if task.status.is_active() else '' }}"></td>
                <td data-col="total_time_remain" class="{{ 'updating' if task.status.is_active() else '' }}"></td>
                <td data-col="ep_time_remain" class="{{ 'updating' if task.status.is_active() else '' }}"></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
                <td>No tasks to show.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          {% endif %}
      </table>
  </form>
</div>

<div class="ui container" id="monitoring"></div>
