<!doctype html>
<title>HyperTrainer</title>

<script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/tablesort.js"></script>
<script type="text/javascript" src="static/semantic-ui/semantic.min.js"></script>
<script type="text/javascript" src="static/script.js"></script>

<link rel="stylesheet" type="text/css" href="static/semantic-ui/semantic.min.css">

<style type="text/css">
  div#footer { min-height: 10em; margin-top: 2em; }
  table td.Running { color: #276f86; background: #f8ffff; }
  table td.Finished { color: #2c662d; background: #fcfff5; }
  table td.Crashed,td.Lost { color: #9f3a38; background: #fff6f6; }
  table td.Cancelled { color: #573a08; background: #fffaf3; }
  input.toggle-job { margin-right: 0.5em; }
  div.loader.inline { margin-left: 1em !important; }
</style>

<div class="ui inverted basic segment">
  <div class="ui container">
    <h1>HyperTrainer</h1>
  </div>
</div>

<div class="ui container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="ui message {{category}}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  <div class="ui segment">
  <h2>Submit new task</h2>
  <form action="/?action=submit" method="post" class="ui form">
    <div class="fields">
      <div class="field">
        <label for="script">Script</label>
        <input name="script" id="script" value="dummy.py">
      </div>
      <div class="field">
        <label for="config">Config</label>
        <input name="config" id="config" value="dummy.yaml">
      </div>
      <div class="field">
        <label for="platform">Platform</label>
        <select class="ui dropdown" name="platform" id="platform">
          <option value="">Platform</option>
          {% for p in platforms %}
            <option value="{{ p }}" {{ 'selected="selected"' if p == 'helios' else '' }}>{{ p }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <button type="submit" class="ui submit button">Submit</button>
      </div>
    </div>
  </form>
  </div>

  <h2>Tasks</h2>

  <form action="/?action=bulk" method="post">
      <p>
        <a href="/" class="ui compact button basic">Refresh</a>
        <input type="submit" name="action" value="Cancel" class="ui compact button">
        <input type="submit" name="action" value="Delete" class="ui compact button">
      </p>

      <table class="ui sortable selectable celled compact table fixed" id="tasks">
        <thead><tr>
          <th class="number">
            <input type="checkbox" class="toggle-job" id="checkall">
            ID
          </th>
          <th>Platform</th>
          <th>PID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr></thead>
        {% if tasks %}
            {% for task in tasks %}
              <tr data-id="{{ task.id }}">
                <td>
                  <input type="checkbox" class="toggle-job" name="check-{{ task.id }}">
                  {{ task.id }}
                </td>
                <td data-col="platform">{{ task.platform_type.value }}</td>
                <td>{{ task.job_id }}</td>
                <td>{{ task.name }}</td>
                <td data-col="status">{{ task.status.value }}<div class="ui active tiny inline loader"></div></td>
                <td>
                  <a href="/monitor/{{ task.id }}" class="ui compact button">Monitor</a>
                  {% if task.is_running %}
                    <a href="/?action=kill&task_id={{ task.id }}" class="ui compact button">Cancel</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
                <td>No tasks to show.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          {% endif %}
      </table>
  </form>
</div>

<div class="ui inverted basic segment" id="footer">
  <div class="ui container">
  </div>
</div>