<!doctype html>

<style type="text/css">
    .tab
    {
        height: 60vh;
        overflow-y: scroll;
    }
    .bk-root
    {
        display: inline-block;
    }
    h2#task .task-name
    {
        font-family: monospace;
        padding-left: 1em;
    }
</style>

<script type="text/javascript">
  $( document ).ready(function() {
    $('.tabular.menu .item').tab();
  });
</script>

<h2 id="task">Task:<span class="task-name">{{task.name}}</span></h2>

<div class="ui top attached tabular menu">
    {% if viz_scripts %}<a class="item active" data-tab="visualize">Visualize</a>{% endif %}
    {% for k in task.logs.keys() %}
        <a class="item {{ 'active' if not viz_scripts and k == 'out' else ''}}" data-tab="{{k}}">{{k}}</a>
    {% endfor %}
    <a class="item" data-tab="yaml">YAML</a>
</div>
{% if viz_scripts %}
    <div class="ui bottom attached tab segment active" data-tab="visualize">
        {{ viz_scripts | safe }}
        {% for name, div_html in viz_divs.items() %}
            {{ div_html | safe }}
        {% endfor %}
    </div>
{% endif %}
{% for k, v in task.logs.items() %}
    <div class="ui bottom attached tab segment {{ 'active' if not viz_scripts and k == 'out' else ''}}" data-tab="{{k}}">
        <pre>{{v}}</pre>
    </div>
{% endfor %}
<div class="ui bottom attached tab segment " data-tab="yaml">
    <pre>{{ task.dump_config() }}</pre>
</div>